<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-assets-path="/static/assets/" data-template="">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Search Result</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/static/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/static/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/static/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mulish:wght@500;600;700;800&display=swap"
        rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/static/assets/vendor/js/helpers.js"></script>

    <script src="/static/assets/vendor/libs/jquery/jquery.js"></script>


    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/static/assets/js/config.js"></script>
    <style>
        .layout-container {
            display: block !important;
        }

        /*left-side-start*/
        .left-heading {
            color: #fff;

        }

        .steps-content {
            margin-top: 30px;
            color: #fff;
        }

        .steps-content p {
            font-size: 12px;
            margin-top: 15px;
        }

        .progress-bar {
            list-style: none;
            /*color:#fff;*/
            margin-top: 30px;
            font-size: 13px;
            font-weight: 700;
            counter-reset: container 0;
        }

        .progress-bar li {
            position: relative;
            margin-left: 40px;
            margin-top: 50px;
            counter-increment: container 1;
            color: #4f6581;
        }

        .progress-bar li::before {
            content: counter(container);
            line-height: 25px;
            text-align: center;
            position: absolute;
            height: 25px;
            width: 25px;
            border: 1px solid #4f6581;
            border-radius: 50%;
            left: -40px;
            top: -5px;
            z-index: 10;
            background-color: #304767;


        }


        .progress-bar li::after {
            content: '';
            position: absolute;
            height: 90px;
            width: 2px;
            background-color: #4f6581;
            z-index: 1;
            left: -27px;
            top: -70px;
        }


        .progress-bar li.active::after {
            background-color: #fff;

        }

        .progress-bar li:first-child:after {
            display: none;
        }

        /*.progress-bar li:last-child:after{*/
        /*  display:none;  */
        /*}*/
        .progress-bar li.active::before {
            color: #fff;
            border: 1px solid #fff;
        }

        .progress-bar li.active {
            color: #fff;
        }

        .d-none {
            display: none;
        }

        .progress-bar {
            background-color: #fff !important;
        }

        .card-input-element {
            display: none;
        }

        .card-input:hover {
            cursor: pointer;
        }

        .card-input-element:checked+.card-input {
            box-shadow: 0 0 1px 1px #696cff;
        }

        #donut {
            display: block;
            margin: 0px auto;
            color: #1ABC9C;
            font-size: 20px;
            text-align: center;
        }

        p {
            max-width: 600px;
            margin: 12px auto;
            font-weight: normal;
            font-family: sans-serif;
        }

        code {
            background: #FAFAFA;
            border: 1px solid #DDD;
            border-radius: 3px;
            padding: 0px 4px;
        }

        .donut-size {
            font-size: 12em;
        }

        .pie-wrapper {
            position: relative;
            width: 1em;
            height: 1em;
            margin: 0px auto;
        }

        .pie-wrapper .pie {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            clip: rect(0, 1em, 1em, 0.5em);
        }

        .pie-wrapper .half-circle {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: 0.1em solid #1abc9c;
            border-radius: 50%;
            clip: rect(0em, 0.5em, 1em, 0em);
        }

        .pie-wrapper .right-side {
            transform: rotate(0deg);
        }

        .pie-wrapper .label {
            position: absolute;
            top: 0.52em;
            right: 0.4em;
            bottom: 0.4em;
            left: 0.4em;
            display: block;
            background: none;
            border-radius: 50%;
            color: #7F8C8D;
            font-size: 0.25em;
            line-height: 2.6em;
            text-align: center;
            cursor: default;
            z-index: 2;
        }

        .pie-wrapper .smaller {
            padding-bottom: 20px;
            color: #BDC3C7;
            font-size: 0.45em;
            vertical-align: super;
        }

        .pie-wrapper .shadow {
            width: 100%;
            height: 100%;
            border: 0.1em solid #BDC3C7;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Layout container -->
            <div class="">
                <!-- Navbar -->
                
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>
                
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-capsule fs-4 lh-0"></i>
                                <a class="navbar-brand text-uppercase ml-5" style="font-family: Mulish;font-weight: 700;" href="#">Medi
                                    360</a>
                            </div>
                        </div>
                        <!-- /Search -->
                
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                
                
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="/static/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="/static/assets/img/avatars/1.png" alt
                                                            class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">John Doe</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="auth-login-basic.html">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Log Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">

                        <div id="drugwordcloud" style="height: 50vh;"> </div>
                        <div class="row">
                            <script>
                                function docWrite(variable) {
                                        document.write(variable);
                                    }

                                let names = JSON.parse({{ data | tojson}});
                                titles = names.drugtitle
                            </script>
                            <!-- 1st row Charts Start -->
                            <div class="col-lg-12 mb-4 order-0" id="drug1">
                                <div class="card p-3 mt-4">
                                    <div class="card-title m-0">
                                        <h4 class="m-0 text-uppercase" style="font-family: Mulish;">
                                            <script> docWrite(names.drugtitle[0]) </script>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <center>
                                                        <p
                                                            style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                            Effectiveness</p>
                                                    </center>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">

                                                <div id="specificChart2" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p
                                                                style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Ease of Use</p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart3" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p
                                                                style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Satisfaction</p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 1st Row Charts End -->
                            <!-- 2nd row Charts Start -->
                            <div class="col-lg-12 mb-4 order-0" id="drug2">
                                <div class="card p-3">
                                    <div class="card-title m-0">
                                        <h4 class="m-0 text-uppercase" style="font-family: Mulish;"><script> docWrite(names.drugtitle[1]) </script></h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart4" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <center>
                                                        <p
                                                            style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                            Effectiveness</p>
                                                    </center>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">

                                                <div id="specificChart5" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p
                                                                style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Ease of Use
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart6" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p
                                                                style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Satisfaction
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 2nd Row Charts End -->
                            <!-- 3rd row Charts Start -->
                            <div class="col-lg-12 mb-4 order-0" id="drug3">
                                <div class="card p-3">
                                    <div class="card-title m-0">
                                        <h4 class="m-0 text-uppercase" style="font-family: Mulish;">
                                            <script> docWrite(names.drugtitle[2]) </script>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart6" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <center>
                                                        <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                            Effectiveness</p>
                                                    </center>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                            
                                                <div id="specificChart7" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Ease of Use
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart8" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Satisfaction
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 3rd Row Charts End -->
                            <!-- 4th row Charts Start -->
                            <div class="col-lg-12 mb-4 order-0" id="drug4">
                                <div class="card p-3">
                                    <div class="card-title m-0">
                                        <h4 class="m-0 text-uppercase" style="font-family: Mulish;">
                                            <script> docWrite(names.drugtitle[3]) </script>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart9" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <center>
                                                        <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                            Effectiveness</p>
                                                    </center>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                            
                                                <div id="specificChart10" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Ease of Use
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart11" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Satisfaction
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4th Row Charts End -->
                            <!-- 5throw Charts Start -->
                            <div class="col-lg-12 mb-4 order-0" id="drug5">
                                <div class="card p-3">
                                    <div class="card-title m-0">
                                        <h4 class="m-0 text-uppercase" style="font-family: Mulish;">
                                            <script> docWrite(names.drugtitle[4]) </script>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart12" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                    </div>
                                                    <center>
                                                        <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                            Effectiveness</p>
                                                    </center>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                            
                                                <div id="specificChart13" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Ease of Use
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 p-4">
                                                <div id="specificChart14" class="donut-size">
                                                    <div class="pie-wrapper">
                                                        <span class="label">
                                                            <span class="num">0</span><span class="smaller">%</span>
                                                        </span>
                                                        <div class="pie">
                                                            <div class="left-side half-circle"></div>
                                                            <div class="right-side half-circle"></div>
                                                        </div>
                                                        <div class="shadow"></div>
                                                        <center>
                                                            <p style="font-size: 16px!important;font-weight: 600;font-family: Mulish;">
                                                                Satisfaction
                                                            </p>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 5th Row Charts End -->
                            <!-- <div class="col-lg-4 mb-4">
                                <div class="card">
                                    {{data}}
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- / Content -->

                    <!-- Footer -->
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                made with ❤️ for
                                <a href="#" target="_blank" class="footer-link fw-bolder"> Doctors</a>
                            </div>
                        </div>
                    </footer>
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/assets/vendor/libs/popper/popper.js"></script>
    <script src="/static/assets/vendor/js/bootstrap.js"></script>
    <script src="/static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/static/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/static/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/static/assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
        function updateDonutChart(el, percent, donut) {
            percent = Math.round(percent);
            if (percent > 100) {
                percent = 100;
            } else if (percent < 0) {
                percent = 0;
            }
            var deg = Math.round(360 * (percent / 100));

            if (percent > 50) {
                $(el + " .pie").css("clip", "rect(auto, auto, auto, auto)");
                $(el + " .right-side").css("transform", "rotate(180deg)");
            } else {
                $(el + " .pie").css("clip", "rect(0, 1em, 1em, 0.5em)");
                $(el + " .right-side").css("transform", "rotate(0deg)");
            }
            if (donut) {
                $(el + " .right-side").css("border-width", "0.1em");
                $(el + " .left-side").css("border-width", "0.1em");
                $(el + " .shadow").css("border-width", "0.1em");
            } else {
                $(el + " .right-side").css("border-width", "0.5em");
                $(el + " .left-side").css("border-width", "0.5em");
                $(el + " .shadow").css("border-width", "0.5em");
            }
            $(el + " .num").text(percent);
            $(el + " .left-side").css("transform", "rotate(" + deg + "deg)");
        }

        
        //Ignore the rest, it's for the input and checkbox

        $("#percent")
            .change(function () {
                var percent = $(this).val();
                var donut = $("#donut input").is(":checked");
                updateDonutChart("#specificChart", percent, donut);
            })
            .keyup(function () {
                var percent = $(this).val();
                var donut = $("#donut input").is(":checked");
                updateDonutChart("#specificChart", percent, donut);
            });

        $("#donut input").change(function () {
            var donut = $("#donut input").is(":checked");
            var percent = $("#percent").val();
            if (donut) {
                $("#donut span").html("Donut");
            } else {
                $("#donut span").html("Pie");
            }
            updateDonutChart("#specificChart", percent, donut);
        });

    </script>

    <script>
        let jsonfile = JSON.parse({{data | tojson}});
        // console.log(jsonfile)
        
        anychart.onDocumentReady(function () {
        var data = jsonfile.wordcloud

        // create a tag (word) cloud chart
        var chart = anychart.tagCloud(data);

        // set a chart title
        chart.title('Reviews Word Cloud')
        // set an array of angles at which the words will be laid out
        chart.angles([0])
        // enable a color range
        chart.colorRange(true);
        // set the color range length
        chart.colorRange().length('80%');

        // display the word cloud chart
        chart.container("drugwordcloud");
        chart.draw();
        });

        values = jsonfile.graphvalues
        console.log(values)
        console.log(values[0])
        // Pass in a number for the percent
            updateDonutChart("#specificChart", values[0] * 20, true);
            updateDonutChart("#specificChart2", values[1] * 20, true);
            updateDonutChart("#specificChart3", values[2] * 20, true);
            updateDonutChart("#specificChart4", values[3] * 20, true);
            updateDonutChart("#specificChart5", values[4] * 20, true);
            updateDonutChart("#specificChart6", values[5] * 20, true);
            updateDonutChart("#specificChart7", values[6] * 20, true);
            updateDonutChart("#specificChart8", values[7] * 20, true);
            updateDonutChart("#specificChart9", values[8] * 20, true);
            updateDonutChart("#specificChart10", values[9] * 20, true);
            updateDonutChart("#specificChart11", values[10] * 20, true);
            updateDonutChart("#specificChart12", values[11] * 20, true);
            updateDonutChart("#specificChart13", values[12] * 20, true);
            updateDonutChart("#specificChart14", values[13] * 20, true);
            updateDonutChart("#specificChart15", values[14] * 20, true);

            $(document).ready(function () {
                      if (!names.drugtitle[0]) {
                    console.log(names.drugtitle[0])
                    $('#drug1').addClass('d-none')
                }
                if (!names.drugtitle[1]) {
                    console.log(names.drugtitle[1])
                    $('#drug2').addClass("d-none")
                }

                if (!names.drugtitle[2]) {
                    console.log(names.drugtitle[2])
                    $('#drug3').addClass("d-none")
                }
                if (!names.drugtitle[3]) {
                    console.log(names.drugtitle[3])
                    $('#drug4').addClass("d-none")
                }
                if (!names.drugtitle[4]) {
                    console.log(names.drugtitle[5])
                    $('#drug5').addClass("d-none")
                }
                });


          

    </script>
</body>

</html>
